<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="aboutt.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
</head>
    
<body style="background: linear-gradient(329deg, #000000e0, gray, #2c8bc830)">
    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div  class="col-lg-6 d-none d-lg-block mt-5">
                <div id="text" class="text-white display-2">
                    <h2 id="heading"><b>About us..</b></h2>
                    <blockquote>
                    <p id="lead">The medical institution is given the opportunity to collect its information in one place.
                         It includes the patient and doctors' records as well as the data concerning supply management, etc.
                         System helps the professionals in healthcare to check out the clinical documents, diagnosis, patient records,
                         and other relevant things at a single view and therefore results in the healthcare professionals to make 
                         decisions at the right time. 
                    </p>
                    </blockquote>
            </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="about1.jpg" style="transform: translate(0,31%);"></img>
            </div>
        </div>
        </section>
    
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
    </html>