<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        select {
            display: block;
        }

        .avaialble-days label {
            padding-right: 5px;
        }

        .avaialble-days span {
            font-size: 10px;
        }
    </style>

</head>

<body>
    <nav class="navbar fixed-top navbar-default navbar-expand-lg navbar-light bg-light" style="position: sticky;
    top: 0px; min-height: 100px;
    z-index: 1; background: linear-gradient(to right,#80d4ff,#00a3cc,#006680);">
        <div class="container-fluid">
            <div class="navbar-header">
                <b><a class="navbar-brand" href="/">Doctor profile registration </a></b>
            </div>

        </div>
    </nav>

    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
    <script type="text/javascript">
        function sendEmail() {

            var em = document.getElementById("email").value;
            //	document.getElementById("GFG").innerHTML=em;
            var num = Math.floor(1000 + Math.random() * 9000);
            //	console.log("hiiiiiiiiiiiiiiiiiiiii");
            Email.send({
                Host: "smtp.gmail.com",
                Username: "ceghtms21@gmail.com",
                Password: "ceghtms@2021",
                To: 'lotuslivingworld@@gmail.com',
                From: "ceghtms21@gmail.com",
                Subject: "HTMS account activation OTP",
                Body: "your OTP is" + num,
            })
                .then(function (message) {
                    alert("mail sent successfully")
                });
        }

        function signUp() {
            const formData = new FormData();
            formData.append('name', document.getElementById('doctor-signup').elements.namedItem('name').value);
            formData.append('password', document.getElementById('doctor-signup').elements.namedItem('password').value);
            formData.append('email', document.getElementById('doctor-signup').elements.namedItem('email').value);
            formData.append('department', document.getElementById('doctor-signup').elements.namedItem('department').value);
            formData.append('age', document.getElementById('doctor-signup').elements.namedItem('age').value);
            formData.append('gender', document.getElementById('doctor-signup').elements.namedItem('gender').value);
            formData.append('availableFrom', document.getElementById('doctor-signup').elements.namedItem('availableFrom').value);
            formData.append('availableTo', document.getElementById('doctor-signup').elements.namedItem('availableTo').value);
            formData.append('availableDays', availableDays);
            formData.append('experience', document.getElementById('doctor-signup').elements.namedItem('experience').value);
            formData.append('docimage', document.getElementById('doctor-signup').elements.namedItem('docimage').value);
            formData.append('mobile', document.getElementById('doctor-signup').elements.namedItem('mobile').value);
            fetch('/doctor', {
                method: 'POST',
                body:formData
            })
        }
        window.availableDays = [];
        function selectdays(day) {
            window.availableDays.some(i => i == day) ?
                window.availableDays.splice(window.availableDays.indexOf(day), 1) :
                window.availableDays.push(day);
        }
    </script>
    <div class="container">
        <div style="text-align:center">

            <h2>Create your account</h2>
        </div>
        <div style="width:70%; margin: 0 auto;">
            <!-- method="POST" action="/doctor" enctype="multipart/form-data" -->
            <form class="signUp" id="doctor-signup">
                <div class="form-group">
                    <p>Doctor Name</p>
                    <input class="form-control " type="text" name="name" placeholder="User name" required>
                </div>
                <br>
                <div class="form-group">
                    <p>Create Password</p>
                    <input class="form-control" type="password" name="password" placeholder="Create password" required>
                </div>
                <br>
                <div class="form-group">
                    <p>Email address</p>
                    <input type="email" name="email" placeholder="email" required />
                </div>
                <br>
                <div class="form-group">
                    <p>Department</p>
                    <div class="input-field col s12">
                        <select name="department">
                            <option value="" disabled selected>Choose department</option>
                            <option value="ent">ENT</option>
                            <option value="cardiology">Cardiology</option>
                            <option value="Nuerology">Nuerology</option>
                            <option value="Gynecology">Gynecology</option>
                            <option value="Dental">Dental</option>

                        </select>

                    </div>
                </div>
                <br>
                <div class="form-group">
                    <p>Age</p>
                    <input class="form-control " type="number" name="age" placeholder="Age" required>
                </div>
                <br>
                <div class="form-group">
                    <p>Gender</p>
                    <select id="gendertag" name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <p>Available Time</p>
                    <input class="form-control " type="time" name="availableFrom" placeholder="availabletime" required>
                </div>
                <br>
                <div class="form-group">
                    <p>Available Till</p>
                    <input class="form-control " type="time" name="availableTo" placeholder="availabletill" required>
                </div>
                <br>
                <div class="form-group">
                    <p>Available days</p>
                    <div class="avaialble-days">
                        <label>
                            <input type="checkbox" value="0" onclick="selectdays(0)" />
                            <span>Sunday</span>
                        </label>
                        <label>
                            <input type="checkbox" value="1" onclick="selectdays(1)" />
                            <span>Monday</span>
                        </label>
                        <label>
                            <input type="checkbox" value="2" onclick="selectdays(2)" />
                            <span>Tuesday</span>
                        </label>
                        <label>
                            <input type="checkbox" value="3" onclick="selectdays(3)" />
                            <span>Wednesday</span>
                        </label>
                        <label>
                            <input type="checkbox" value="4" onclick="selectdays(4)" />
                            <span>Thursday</span>
                        </label>
                        <label>
                            <input type="checkbox" value="5" onclick="selectdays(5)" />
                            <span>Friday</span>
                        </label>
                        <label>
                            <input type="checkbox" value="6" onclick="selectdays(6)" />
                            <span>Saturday</span>
                        </label>
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <p>Years of Experience</p>
                    <input class="form-control " type="number" name="experience" placeholder="Years of experience"
                        required>
                </div>
                <br>
                <div class="form-group">
                    <p>Upload Image</p>
                    <input type="file" id="imagee" title="Upload image" name="docimage">
                </div>
                <br>
                <div class="form-group">
                    <p>Mobile number</p>
                    <input class="form-contol" type="number" name="mobile" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                        placeholder="enter mobile number" required>
                </div>
                <br>

                <div class="form-group">
                    <button class="btn btn-lg btn- btn-block login form-btn sx" onclick="signUp()">Signup</button>
                </div>
            </form>
        </div>
    </div>

    <%- include('partials/footer')%>