<%- include('partials/header',{isLogin:false})%>
    <div class="container">
        <div class="jumbotron">
            <h1>Generated passwords</h1>
        </div>

        <div class="row">

            <% list.forEach(function(item){%>
                <div></div>
                <%}%>

        </div>
    </div>
    <%- include('partials/footer')%>